<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.mapper.SystemMessageMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm.model.SystemMessage" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="uid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="releaseTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, content, title, releaseTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from systemmesage
    where uid = #{uid,jdbcType=VARCHAR} order by releasetime  desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from systemmesage
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zking.ssm.model.SystemMessage" >
    insert into systemmesage (id, uid, content, 
      title, releaseTime)
    values (#{id,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{releasetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.ssm.model.SystemMessage" >
    insert into systemmesage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="releasetime != null" >
        releaseTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="releasetime != null" >
        #{releasetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.model.SystemMessage" >
    update systemmesage
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="releasetime != null" >
        releaseTime = #{releasetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.ssm.model.SystemMessage" >
    update systemmesage
    set uid = #{uid,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      releaseTime = #{releasetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>